body {
    font-family: Arial;
    background-color: #f0f8ff;
    margin: 20px;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: darkgreen;
  }
  h1 {
    color: darkblue;
  }
  